# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
secrets.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log
error.log
.log

# Build artifacts

build/
.out/
.next/
.vercel/
coverage/

# Database files
*.sqlite
*.sqlite-journal
db.json
prisma/migrations/

# Local IDE configurations
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Binaries
*.exe
*.out
*.app
*.dmg

# Docker
docker-compose.override.yml

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.lock
